/* resources/css/app.css */

/* Import Tailwind base, components, utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Flowbite */
@import 'flowbite/dist/flowbite.min.css';

/* Your custom styles can go here */
@layer base {
  body {
    @apply bg-gray-50 text-gray-900 dark:bg-gray-900 dark:text-white;
  }
}

/* Estimate Wide Mode */
body.estimate-wide-mode .estimate-normal-container {
    max-width: 100%;
}
